<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    
        <h1>Student name is <%= details.studentName %>
        </h1>
        <h1>Student rollno. is <%= details.studentRollno %>
        </h1>
        <h1>Student age is <%= details.studentAge %>
        </h1>
</body>

</html>