<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action="/collect/data">
        <!-- After submiting automatically navigate to /collect/data -->
        <!-- name attribute is nothing just holds the value it is like a variable -->
        Rollno: <input placeholder="Enter rollno" name="myrollno" />
        Name: <input placeholder="Enter name" name="myname" />
        Age: <input placeholder="Enter age" name="myage" /> 
        <button type="submit">Register</button>
    </form>
</body>
</html>